.horizontalCenter {
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
}
.profileTitle {
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
  text-align: center;
  font-size: 2.2vw;
  width: 60vw;
  margin-top: 5vh;
  margin-bottom: 3vh;
}
@media (orientation: portrait) {
  .profileTitle {
    margin-top: 16vh;
    margin-bottom: 2vh;
    font-size: 4vw;
  }
}
.profileSubitle {
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.6vw;
  margin-bottom: 2vh;
}
@media (orientation: portrait) {
  .profileSubitle {
    font-size: 3vw;
    margin-bottom: 1vh;
    margin-top: 1vh;
  }
}
.modifyProfile {
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
  text-align: center;
  width: 60vw;
}
.modifyProfile label {
  font-size: 1.1vw;
  font-weight: 900;
}
@media (orientation: portrait) {
  .modifyProfile label {
    font-size: 2.2vw;
  }
}
.modifyProfile input[type='text'],
.modifyProfile input[type='email'],
.modifyProfile input[type='password'] {
  width: 49%;
  font-size: 1vw;
}
@media (orientation: portrait) {
  .modifyProfile input[type='text'],
  .modifyProfile input[type='email'],
  .modifyProfile input[type='password'] {
    font-size: 2vw;
    width: 65%;
  }
}
.modifyProfile input[type='file'] {
  font-size: 1vw;
}
@media (orientation: portrait) {
  .modifyProfile input[type='file'] {
    font-size: 2vw;
  }
}
.modifyProfile .btn {
  font-size: 1.2vw;
  width: 12vw;
  border: 0.2vw solid black;
}
@media (orientation: portrait) {
  .modifyProfile .btn {
    font-size: 2vw;
    width: 20vw;
  }
}
.modifyProfile img {
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  max-width: 6vw;
  max-height: 6vw;
  border-radius: 2.5vw;
  padding: 0.25vw;
  border: 0.2vw inset hsl(220, 14%, 92%);
}
@media (orientation: portrait) {
  .modifyProfile img {
    margin-left: -10vw;
    margin-top: 3vh;
  }
}
.modifyProfile .custom-switch.custom-switch-lg .custom-control-label {
  padding-left: 2.8vw;
  padding-bottom: 1.4vw;
}
.modifyProfile .custom-switch.custom-switch-lg .custom-control-label::before {
  height: 1.8vw;
  width: 3.6vw;
  border-radius: 2vw;
}
.modifyProfile .custom-switch.custom-switch-lg .custom-control-label::after {
  width: calc(1.8vw - 0.2vw);
  height: calc(1.8vw - 0.2vw);
  border-radius: calc(3.8vw - (1.8vw / 2));
}
.modifyProfile .custom-switch.custom-switch-lg .custom-control-input:checked ~ .custom-control-label::after {
  transform: translateX(calc(2vw - 0.2vw));
}
@media (orientation: portrait) {
  .modifyProfile {
    width: 80vw;
  }
}
.profileBakcground {
  position: absolute;
  z-index: -1;
  background-color: hsl(182, 25%, 39%);
  opacity: 0.8;
  width: 100%;
  height: 107%;
  margin-top: -1%;
  border-radius: 2vw;
  box-shadow: -0.38vw 0.35vw 0.3vw 0.3vw hsl(0, 0%, 39%);
}
.profileInfoWrapper {
  position: relative;
  z-index: 2;
}
.profileInfo {
  display: flex;
  z-index: 2;
  margin-top: 8vh;
}
.profileInfo .profileBakcground {
  border-radius: 0;
  box-shadow: none;
  height: 100%;
  margin-top: 0%;
}
.profileInfo .profileReservations {
  text-align: center;
}
.profileInfo .profileReservations .profilReservationsContent {
  width: 80%;
  margin-left: 10%;
  font-size: 1vw;
}
@media (orientation: portrait) {
  .profileInfo .profileReservations .profilReservationsContent {
    text-align: left;
    font-size: 2.2vw;
    width: 90%;
    margin-left: 5%;
  }
}
.profileInfo .profileReservations ul {
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 45vw;
}
@media (orientation: portrait) {
  .profileInfo .profileReservations ul {
    width: 90vw;
    margin-right: 5vw;
  }
}
.profileInfo .profileReservations ul b {
  background-color: white;
  border-radius: 0.2vw;
  padding: 0.2vw;
}
.profileInfo .profileReservations ul form {
  display: inline;
  margin-left: 1vw;
}
.profileInfo .profileReservations ul form .btn {
  font-size: 1vw;
}
@media (orientation: portrait) {
  .profileInfo .profileReservations ul form .btn {
    font-size: 2vw;
  }
}
@media (orientation: portrait) {
  .profileInfo .profileReservations {
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
  }
}
.profileInfo .profileDiscoutns {
  text-align: center;
}
.profileInfo .profileDiscoutns .profileDiscoutnsContent {
  width: 80%;
  margin-left: 10%;
  font-size: 1vw;
}
@media (orientation: portrait) {
  .profileInfo .profileDiscoutns .profileDiscoutnsContent {
    text-align: left;
    font-size: 2.5vw;
  }
}
.profileInfo .profileDiscoutns ul {
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 15vw;
}
@media (orientation: portrait) {
  .profileInfo .profileDiscoutns ul {
    width: 38vw;
    margin-right: 15vw;
  }
}
@media (orientation: portrait) {
  .profileInfo .profileDiscoutns {
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    margin-top: 3vh;
  }
}
@media (orientation: portrait) {
  .profileInfo {
    display: block;
  }
}
.profileBakgroundImg1 {
  position: absolute;
  width: 27.3vw;
  height: 30vw;
  opacity: 0.5;
  top: 2vh;
  left: 0vw;
}
.profileBakgroundImg1 img {
  width: 100%;
  height: 100%;
}
@media (orientation: portrait) {
  .profileBakgroundImg1 {
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 41vw;
    height: 45vw;
    top: 70vh;
  }
}
.profileBakgroundImg2 {
  position: absolute;
  z-index: 5;
  width: 15vw;
  height: 15vw;
  opacity: 0.5;
  bottom: 0;
  right: 2vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/profile2.png");
}
@media (orientation: portrait) {
  .profileBakgroundImg2 {
    width: 20vw;
    height: 20vw;
  }
}
