.horizontalCenter {
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
}
.empoloyeeInformationTitle {
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 2.2vw;
  width: 60vw;
  margin-top: 9vh;
}
@media (orientation: portrait) {
  .empoloyeeInformationTitle {
    font-size: 4vw;
  }
}
.employeeInformation {
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
  width: 60vw;
}
.employeeInformation select {
  font-size: 1vw;
}
@media (orientation: portrait) {
  .employeeInformation select {
    font-size: 2vw;
  }
}
.employeeInformation label[for='infoSelect'] {
  font-size: 1.6vw;
  margin-top: 10vh;
}
@media (orientation: portrait) {
  .employeeInformation label[for='infoSelect'] {
    font-size: 3.2vw;
    margin-top: 5vh;
  }
}
.employeeInformation label[for='content'] {
  font-size: 1.6vw;
  margin-top: 5vh;
}
@media (orientation: portrait) {
  .employeeInformation label[for='content'] {
    font-size: 3.2vw;
    margin-top: 4vh;
  }
}
.employeeInformation textarea {
  height: 16vh;
  font-size: 1vw;
}
@media (orientation: portrait) {
  .employeeInformation textarea {
    font-size: 2vw;
    height: 12vh;
  }
}
.employeeInformation .btn {
  font-size: 1.2vw;
  width: 12vw;
  margin-top: 1vh;
}
@media (orientation: portrait) {
  .employeeInformation .btn {
    font-size: 2vw;
    width: 20vw;
    margin-top: 0.3vh;
  }
}
@media (orientation: portrait) {
  .employeeInformation {
    width: 80vw;
  }
}
