html {
  min-height: 100%;
  height: 100%;
}
body {
  position: relative;
  overflow-x: hidden;
  background-color: hsl(60, 3%, 72%);
  min-height: 100%;
  height: 100%;
}
.pageLoader {
  position: absolute;
  z-index: 10;
  width: 10vw;
  height: 10vw;
  margin-left: 45vw;
  margin-top: 40vh;
  -webkit-animation: loader 2s infinite;
          animation: loader 2s infinite;
}
.pageLoader img {
  width: 100%;
  height: 100%;
}
.section {
  position: relative;
  overflow-x: hidden;
  visibility: hidden;
  width: 100%;
  min-height: 93%;
  background-color: hsl(60, 3%, 72%);
}
@media (orientation: portrait) {
  .section {
    min-height: 96%;
  }
}
.footer {
  visibility: hidden;
  height: 7%;
  width: 100%;
  bottom: 0px;
  font-size: 0.75vw;
  color: hsl(180, 7%, 85%);
}
.footer a {
  color: hsl(180, 7%, 85%);
}
@media (orientation: portrait) {
  .footer {
    font-size: 1.7vw;
    height: 4%;
  }
}
.jumbotron {
  display: none;
  position: relative;
  background-color: hsl(180, 2%, 90%);
  margin-bottom: 0px !important;
}
.jumbotron-full {
  -webkit-animation: showHero 0.6s;
          animation: showHero 0.6s;
  height: 100%;
  position: relative;
}
.jumbotron h1 {
  font-size: 3.9vw;
  z-index: 2;
}
@media (orientation: portrait) {
  .jumbotron h1 {
    margin-top: 13vh;
    text-align: center;
    font-size: 6.5vw;
  }
}
.jumbotron p {
  font-size: 1.4vw;
  z-index: 2;
}
@media (orientation: portrait) {
  .jumbotron p {
    margin-top: 1vh;
    text-align: center;
    font-size: 2.8vw;
  }
}
.jumbotron ul {
  margin-top: 6%;
  background-color: hsl(180, 2%, 90%);
  z-index: 3;
}
@media (orientation: portrait) {
  .jumbotron ul {
    text-align: center;
    margin-top: 6vh;
  }
}
.jumbotron li {
  font-size: 1.8vw;
  z-index: 2;
  margin-bottom: 1.8%;
}
@media (orientation: portrait) {
  .jumbotron li {
    margin-top: 1vh;
    text-align: center;
    font-size: 3.1vw;
  }
}
.jumbotron li a {
  color: hsl(182, 25%, 39%);
  font-weight: 600;
  display: inline;
  background-color: hsl(180, 2%, 90%);
  border-radius: 40%;
}
.jumbotron li a:hover {
  display: inline;
  color: hsl(184, 62%, 19%);
  font-weight: 800;
  padding-left: 1%;
  background-color: hsl(180, 2%, 90%);
  border-radius: 40%;
  border: 3px outset hsl(184, 62%, 19%);
  padding: 1%;
}
.jumbotron li a:hover .notCustomer {
  color: hsl(0, 83%, 23%);
}
@media (orientation: portrait) {
  .jumbotron li a {
    border-radius: 0px;
  }
}
.jumbotron li .notCustomer {
  color: hsl(0, 48%, 56%);
}
.jumbotron .heroButtons {
  margin-top: 3%;
}
.jumbotron .btn {
  position: relative;
  margin-top: 1%;
  margin-right: 1%;
  z-index: 22;
  font-size: 1.8vw;
  font-weight: 500;
  border: 2px solid;
}
@media (orientation: portrait) {
  .jumbotron .btn {
    margin-top: 2vh;
    text-align: center;
    font-size: 3.3vw;
    display: block;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
  }
}
.jumbotron .container {
  margin-left: 20vw;
  margin-right: 20vw;
  width: 60vw;
}
@media (orientation: portrait) {
  .jumbotron .container {
    text-align: center;
  }
}
.heroBackground {
  background-image: url("/images/godfather2.png");
  -webkit-animation: showBackground 3s;
          animation: showBackground 3s;
  background-position: right bottom;
  background-repeat: no-repeat;
  opacity: 0.2;
  position: absolute;
  width: 100%;
  right: 0;
  left: auto;
  bottom: 0;
  top: auto;
  height: 100%;
  z-index: 1;
}
.heroBackground1 {
  background-image: url("/images/godfather2.png");
  -webkit-animation: showBackground 3s;
          animation: showBackground 3s;
  background-position: right bottom;
  background-repeat: no-repeat;
  opacity: 0.2;
  position: absolute;
  width: 100%;
  right: 0;
  left: auto;
  bottom: 0;
  top: auto;
  height: 100%;
  z-index: 1;
  background-image: url("/images/homepage.png");
  -webkit-animation: showBackgroundBis 1.7s;
          animation: showBackgroundBis 1.7s;
}
.heroBackground2 {
  background-image: url("/images/godfather2.png");
  -webkit-animation: showBackground 3s;
          animation: showBackground 3s;
  background-position: right bottom;
  background-repeat: no-repeat;
  opacity: 0.2;
  position: absolute;
  width: 100%;
  right: 0;
  left: auto;
  bottom: 0;
  top: auto;
  height: 100%;
  z-index: 1;
  background-image: url("/images/rep.png");
  -webkit-animation: showBackgroundBack 1.7s;
          animation: showBackgroundBack 1.7s;
  opacity: 0.4;
}
.heroBackground3 {
  background-image: url("/images/godfather2.png");
  -webkit-animation: showBackground 3s;
          animation: showBackground 3s;
  background-position: right bottom;
  background-repeat: no-repeat;
  opacity: 0.2;
  position: absolute;
  width: 100%;
  right: 0;
  left: auto;
  bottom: 0;
  top: auto;
  height: 100%;
  z-index: 1;
  background-image: url("/images/tickets.png");
  -webkit-animation: showBackgroundBack 1.7s;
          animation: showBackgroundBack 1.7s;
  opacity: 0.4;
}
.heroBackground4 {
  background-image: url("/images/godfather2.png");
  -webkit-animation: showBackground 3s;
          animation: showBackground 3s;
  background-position: right bottom;
  background-repeat: no-repeat;
  opacity: 0.2;
  position: absolute;
  width: 100%;
  right: 0;
  left: auto;
  bottom: 0;
  top: auto;
  height: 100%;
  z-index: 1;
  background-image: url("/images/about.png");
  -webkit-animation: showBackgroundBack 1.7s;
          animation: showBackgroundBack 1.7s;
  opacity: 0.4;
}
.heroBackground5 {
  background-image: url("/images/godfather2.png");
  -webkit-animation: showBackground 3s;
          animation: showBackground 3s;
  background-position: right bottom;
  background-repeat: no-repeat;
  opacity: 0.2;
  position: absolute;
  width: 100%;
  right: 0;
  left: auto;
  bottom: 0;
  top: auto;
  height: 100%;
  z-index: 1;
  background-image: url("/images/api.png");
  -webkit-animation: showBackgroundBack 1.7s;
          animation: showBackgroundBack 1.7s;
  opacity: 0.4;
}
.heroBackground6 {
  background-image: url("/images/godfather2.png");
  -webkit-animation: showBackground 3s;
          animation: showBackground 3s;
  background-position: right bottom;
  background-repeat: no-repeat;
  opacity: 0.2;
  position: absolute;
  width: 100%;
  right: 0;
  left: auto;
  bottom: 0;
  top: auto;
  height: 100%;
  z-index: 1;
  background-image: url("/images/tools.png");
  -webkit-animation: showBackgroundBis 1.7s;
          animation: showBackgroundBis 1.7s;
}
.hamburger {
  position: absolute;
  visibility: hidden;
  z-index: 2;
  right: 4.5vw;
  top: 5vh;
  background-image: url("/images/hamburger.svg");
  background-position: center;
  background-repeat: no-repeat;
  min-width: 40px;
  min-height: 40px;
  height: 4vh;
  width: 3vw;
}
.hamburger:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}
.userInfo {
  position: fixed;
  z-index: 4;
  right: 2vw;
  top: 13vh;
  text-align: center;
  z-index: 2;
  width: 8vw;
}
@media (orientation: portrait) {
  .userInfo {
    top: 1vh;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
    z-index: 4;
  }
}
.userInfo .avatar {
  text-align: center;
}
.userInfo .avatar img {
  width: 5vw;
  height: 5vw;
  border: 0.2vw inset hsl(184, 62%, 19%);
  border-radius: 2.5vw;
  padding: 0.25vw;
}
@media (orientation: portrait) {
  .userInfo .avatar img {
    width: 4vh;
    height: 4vh;
    border-radius: 2.5vh;
  }
}
.userInfo .names {
  font-size: 1vw;
  font-weight: 600;
}
@media (orientation: portrait) {
  .userInfo .names {
    font-size: 2.5vw;
  }
}
.userInfo .btn {
  font-size: 1vw;
  font-weight: 600;
  margin-top: 1vh;
  width: 100%;
}
@media (orientation: portrait) {
  .userInfo .btn {
    font-size: 2vw;
  }
}
.userInfo .btn-success {
  background-color: hsl(182, 25%, 39%);
  border: 1px solid hsl(182, 25%, 39%);
}
.userInfo .btn-success:hover {
  background-color: hsl(184, 62%, 19%);
}
.userInfo .btn-warning:hover {
  background-color: #eaac25;
  border: 1px solid #eaac25;
}
.downTriangle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-left: 10vw solid transparent;
  border-right: 3vw solid transparent;
  border-bottom: 63vh solid hsl(182, 25%, 39%);
  transform: skew(-15deg);
  -webkit-animation: downTriangleDown 0.7s;
          animation: downTriangleDown 0.7s;
}
.downTriangleTransformed {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-right: 3vw solid transparent;
  border-bottom: 63vh solid hsl(182, 25%, 39%);
  transform: skew(-15deg);
  -webkit-animation: downTriangleDown 0.7s;
          animation: downTriangleDown 0.7s;
  border-left: 10vw solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 75vh solid hsl(182, 25%, 39%);
  transform: skew(0deg);
  -webkit-animation: downTriangleUp 0.7s;
          animation: downTriangleUp 0.7s;
}
.topTriangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-left: 3vw solid transparent;
  border-right: 10vw solid transparent;
  border-top: 63vh solid hsl(182, 25%, 39%);
  transform: skew(-5deg);
  -webkit-animation: topTriangleDown 0.7s;
          animation: topTriangleDown 0.7s;
}
.topTriangleTransformed {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-left: 3vw solid transparent;
  border-top: 63vh solid hsl(182, 25%, 39%);
  transform: skew(-5deg);
  -webkit-animation: topTriangleDown 0.7s;
          animation: topTriangleDown 0.7s;
  left: 0;
  border-left: 0vw solid transparent;
  border-right: 10vw solid transparent;
  border-top: 75vh solid hsl(182, 25%, 39%);
  transform: skew(0deg);
  -webkit-animation: topTriangleUp 0.7s;
          animation: topTriangleUp 0.7s;
}
.git {
  width: 1.5vw;
  height: 1.5vw;
  margin-right: 2%;
}
@-webkit-keyframes showHero {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
@keyframes showHero {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
@-webkit-keyframes showBackground {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.2;
  }
}
@keyframes showBackground {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.2;
  }
}
@-webkit-keyframes showBackgroundBis {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.2;
  }
}
@keyframes showBackgroundBis {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.2;
  }
}
@-webkit-keyframes showBackgroundBack {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}
@keyframes showBackgroundBack {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}
@-webkit-keyframes downTriangleUp {
  0% {
    border-left: 10vw solid transparent;
    border-right: 3vw solid transparent;
    border-bottom: 63vh solid hsl(182, 25%, 39%);
    transform: skew(-15deg);
  }
  100% {
    border-left: 10vw solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 75vh solid hsl(182, 25%, 39%);
    transform: skew(0deg);
  }
}
@keyframes downTriangleUp {
  0% {
    border-left: 10vw solid transparent;
    border-right: 3vw solid transparent;
    border-bottom: 63vh solid hsl(182, 25%, 39%);
    transform: skew(-15deg);
  }
  100% {
    border-left: 10vw solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 75vh solid hsl(182, 25%, 39%);
    transform: skew(0deg);
  }
}
@-webkit-keyframes downTriangleDown {
  0% {
    border-left: 10vw solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 75vh solid hsl(182, 25%, 39%);
    transform: skew(0deg);
  }
  100% {
    border-left: 10vw solid transparent;
    border-right: 3vw solid transparent;
    border-bottom: 63vh solid hsl(182, 25%, 39%);
    transform: skew(-15deg);
  }
}
@keyframes downTriangleDown {
  0% {
    border-left: 10vw solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 75vh solid hsl(182, 25%, 39%);
    transform: skew(0deg);
  }
  100% {
    border-left: 10vw solid transparent;
    border-right: 3vw solid transparent;
    border-bottom: 63vh solid hsl(182, 25%, 39%);
    transform: skew(-15deg);
  }
}
@-webkit-keyframes topTriangleUp {
  0% {
    left: 0;
    border-left: 3vw solid transparent;
    border-right: 10vw solid transparent;
    border-top: 63vh solid hsl(182, 25%, 39%);
    transform: skew(-5deg);
  }
  100% {
    left: 0;
    border-left: 0vw solid transparent;
    border-right: 10vw solid transparent;
    border-top: 75vh solid hsl(182, 25%, 39%);
    transform: skew(0deg);
  }
}
@keyframes topTriangleUp {
  0% {
    left: 0;
    border-left: 3vw solid transparent;
    border-right: 10vw solid transparent;
    border-top: 63vh solid hsl(182, 25%, 39%);
    transform: skew(-5deg);
  }
  100% {
    left: 0;
    border-left: 0vw solid transparent;
    border-right: 10vw solid transparent;
    border-top: 75vh solid hsl(182, 25%, 39%);
    transform: skew(0deg);
  }
}
@-webkit-keyframes topTriangleDown {
  0% {
    left: 0;
    border-left: 0vw solid transparent;
    border-right: 10vw solid transparent;
    border-top: 75vh solid hsl(182, 25%, 39%);
    transform: skew(0deg);
  }
  100% {
    left: 0;
    border-left: 3vw solid transparent;
    border-right: 10vw solid transparent;
    border-top: 63vh solid hsl(182, 25%, 39%);
    transform: skew(-5deg);
  }
}
@keyframes topTriangleDown {
  0% {
    left: 0;
    border-left: 0vw solid transparent;
    border-right: 10vw solid transparent;
    border-top: 75vh solid hsl(182, 25%, 39%);
    transform: skew(0deg);
  }
  100% {
    left: 0;
    border-left: 3vw solid transparent;
    border-right: 10vw solid transparent;
    border-top: 63vh solid hsl(182, 25%, 39%);
    transform: skew(-5deg);
  }
}
@-webkit-keyframes loader {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes loader {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
